USE [master]
GO
/****** Object:  Database [Yearparty]    Script Date: 2020/1/3 上午 11:46:13 ******/
CREATE DATABASE [Yearparty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Yearparty', FILENAME = N'C:\Users\User\Yearparty.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Yearparty_log', FILENAME = N'C:\Users\User\Yearparty_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Yearparty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Yearparty]
GO
USE [Yearparty]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2020/1/3 上午 11:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Empid] [int] NOT NULL,
	[Empname] [nvarchar](5) NOT NULL,
	[Deptname] [nvarchar](50) NOT NULL,
	[Officename] [nvarchar](50) NOT NULL,
	[Reward] [nvarchar](50) NULL,
	[Rewardid] [int] NULL,
	[RewardTime] [datetime] NULL,
	[Isabsence] [nvarchar](5) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2020/1/3 上午 11:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[Issuccess] [nvarchar](5) NOT NULL,
	[Date] [date] NOT NULL,
	[Username] [nvarchar](50) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rewards]    Script Date: 2020/1/3 上午 11:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewards](
	[Rewardid] [int] IDENTITY(1,1) NOT NULL,
	[Rewardname] [nvarchar](50) NOT NULL,
	[Rewardamount] [int] NOT NULL,
	[Rewardindex] [int] NULL,
	[Rewardmethod] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rewards] PRIMARY KEY CLUSTERED 
(
	[Rewardid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Employees] ([Empid], [Empname], [Deptname], [Officename], [Reward], [Rewardid], [RewardTime], [Isabsence]) VALUES (532, N'鍾宜玉', N'核心資訊部', N'存款一科', NULL, NULL, NULL, NULL)
INSERT [dbo].[Employees] ([Empid], [Empname], [Deptname], [Officename], [Reward], [Rewardid], [RewardTime], [Isabsence]) VALUES (1427, N'陳維恰', N'資訊架構部', N'部署規劃科', NULL, NULL, NULL, NULL)
INSERT [dbo].[Employees] ([Empid], [Empname], [Deptname], [Officename], [Reward], [Rewardid], [RewardTime], [Isabsence]) VALUES (2486, N'趙意寧', N'資訊架構部', N'系統架構科', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [Method], [Data], [Issuccess], [Date], [Username]) VALUES (66911, N'GetRewardedData', N'[{"id":1,"name":"1000元禮券","amount":100,"numberToSendOut":0,"method":null},{"id":2,"name":"2000元禮券","amount":50,"numberToSendOut":0,"method":null},{"id":3,"name":"3000元禮券","amount":20,"numberToSendOut":0,"method":"take5"},{"id":4,"name":"5000元禮券","amount":10,"numberToSendOut":0,"method":"animateDraw"},{"id":5,"name":"10000元禮券","amount":5,"numberToSendOut":0,"method":"animateDraw"}]', N'True', CAST(N'2020-01-03' AS Date), N'Ben')
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[Rewards] ON 

INSERT [dbo].[Rewards] ([Rewardid], [Rewardname], [Rewardamount], [Rewardindex], [Rewardmethod]) VALUES (1, N'1000元禮券', 100, 0, NULL)
INSERT [dbo].[Rewards] ([Rewardid], [Rewardname], [Rewardamount], [Rewardindex], [Rewardmethod]) VALUES (2, N'2000元禮券', 35, 1, NULL)
INSERT [dbo].[Rewards] ([Rewardid], [Rewardname], [Rewardamount], [Rewardindex], [Rewardmethod]) VALUES (3, N'3000元禮券', 20, 2, N'take5')
SET IDENTITY_INSERT [dbo].[Rewards] OFF
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Rewards] FOREIGN KEY([Rewardid])
REFERENCES [dbo].[Rewards] ([Rewardid])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Rewards]
GO
USE [master]
GO
